.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.ipr
*.iws

local.properties
*.keystore
*.jks
*.log
*.orig
*.bak

.DS_Store
Thumbs.db

out/

captures/
.externalNativeBuild/
.cxx/

.env
*.properties
google-services.json
app/google-services.json

*.apk
*.ap_
*.aab

app/crashlytics-build.properties
app/fabric.properties

