# Шаблон файла local.properties
# Скопируйте этот файл в local.properties и укажите путь к вашему Android SDK
# 
# Пример для Windows:
# sdk.dir=C:\\Users\\ВашеИмя\\AppData\\Local\\Android\\Sdk
#
# Пример для Linux/Mac:
# sdk.dir=/home/username/Android/Sdk
#
# Или установите переменную окружения ANDROID_HOME

sdk.dir=C:\\Users\\USERNAME\\AppData\\Local\\Android\\Sdk

